<section class="cart ">
  <div class="order container mx-auto w-1/2 py-16 ">
    <div class=" flex items-center border-b border-gray ">

        <img src="/img/cart-black.png" alt = " cart " >
        <h1 class="font-bold ml-4 text-2xl"> Order Summary </h1>
    </div>
    <div class="pizza-list ">
        <div class="flex items-center py-4">
            <img class="w-24" src="/img/pizza.png" alt ="Pizza">
            <div class="ml-4 flex-1">
                <h1>Pizza</h1>
                <span>Medium</span>
            </div>
            <span class="flex-1">1 Pcs</span>
            <span class="font-bold text-lg ">Rs 300</span>
            
                

        </div>
        

    </div>
    
    <div class="text-right">
        <div class=" items-center">
            <span class="font-bold text-lg mt-1"> Total Amount:</span>
            <span class=" amount font-bold text-2xl ml-2">Rs 300</span>
        </div>
        <div class="py-4">
            <form action="">
                <input class=" border border-gray-400 p-2 w-1/2" type="text" name="Phone Number" placeholder="Phone Number" id="">
            </form>
            <form action="">
                <input class="  mt-2 border border-gray-400 p-2 w-1/2" type="text" name="Phone Number" placeholder="Address" id="">
            </form>
            <!-- <button class=" btn mt-2 text-white px-4 py-2 rounded-full font-bold">
                Order Now
            </button> -->
        </div>
        <a href="" class=" inline-block btn mt-2 text-white px-4 py-2 rounded-full font-bold" >Login to continue</a>
    </div>
    
  </div>

</section>
